 {{> navBarPartial}}
<!-- TITULO -->
<h2 class="Title">Inicio Sesión</h2>
<!-- FORMULARIO DE INICIO DE SESION -->
<div id="form">
  
  <form id="login-container" action="/login" method="POST">
    <label class="loginElement" for="input-email">Email</label>
    <input class="loginElement" type="email" id="input-email" name="email" placeholder="Introduzca su email" />

    <label class="loginElement" for="input-password">Contraseña</label>
    <input class="loginElement" type="password" name="password" id="input-password" placeholder="********" />

    <button class="Button" class="loginElement" type="submit">Inicio sesión</button>

    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>