<div id="signup">
  <h2>Registro</h2>
  <form action="/signup" method="POST">
    <label for="input-username">Nombre de Usuario</label>
    <input type="text" id="username" name="username" placeholder="Nombre usuario" />

    <label for="input-email">Email</label>
    <input type="email" id="email" name="email" placeholder="Email" />

    <label for="input-password">Contraseña</label>
    <input type="password" name="password" id="password" placeholder="********" />

    <button type="submit">Crear cuenta</button>

    {{!-- error message will be added here --}}
    {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}

  </form>
</div>