<h2 id="profileTitle">Bienvenido {{usuario.nombre}}</h2>

<form id="profile-container" action="/restaurante" method="POST">
  <label class="profileElement" for="nombre"><b>Nombre del restaurante</b></label>
  <input class="profileElement" type="text" id="nombreRestaurante" name="nombre" />
  
  <p class="profileElement"><b>Direccion</b></p>
  <label class="profileElement" for="calle"><b>Calle</b></label>
  <input class="profileElement" type="text" id="calle" name="calle" />
  <label class="profileElement" for="numero"><b> Numero</b></label>
  <input class="profileElement" type="text" id="numero" name="numero" />
 
  <label class="profileElement" for="horario"><b> Horario</b></label>
  <input class="profileElement" type="text" id="horario" name="horario" />
  
  {{!-- <label for="logo">Logo</label>
  <input type="file" name="logo" >--}}
  <button class="profileElement" type="submit">Guardar Restaurante</button>
</form>



<br>
<br>

{{#each restaurante}}
<br>
{{this.nombre}}
<br>
<a href="/restaurante/{{this.id}}">Añadir Menu </a>
{{/each}}

