<img id="errorImg" src="/images/Error-img.jpg" alt="error">
<h1 class="errormsg">Error!</h1>
<h2 class="errormsg">Ups! parece que hubo algun problema. Por favor, vuelva a la página de <a href="/"> Inicio</a> </h2>

