<!-- TITULO-->
<h1 class="homeTitle">Welcome to {{title}}</h1>
<!-- INTRO-->
<h4>Como funciona {{title}} ?</h4>

<!-- DIV CENTRAL-->
<div>
    <div id="homeContainer">
        <div class="homeCard">
            <img src="../public/images/registro.png" alt="registro">
            <h3>Registrate!</h3>
            <p>Registrate como usuario y añade tu local</p>
        </div>
        <div class="homeCard">
            <img src="../public/images/diario.png" alt="menu">
            <h3>Introduce tu menú</h3>
            <p>Introduce tus menús y muestralos a tus clientes desde la comodidad de su móvil y de forma 100% higienica, sin pagina web requerida!</p>
        </div>
        <div class="homeCard">
            <img src="../public/images/telefono.png" alt="busqueda">
            <h3>Dejate encontrar!</h3>
            <p>Tus clientes podrán visualizar tanto tus menus como la informacion sobre tu local a traves de nuestro buscador</p>
        </div>
    </div>
</div>

<footer>Iconos diseñados por <a href="https://www.flaticon.es/autores/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a></footer>