 {{> navBarPartial}}


<!-- TITULO-->
<h1 class="Title">Bienvenido a {{title}}</h1>

<!-- FORM PIN-->
<div class="pinSearch">
    <label  for="input-password">Busca por pin</label>
    <input  type="text" class="pinInput" id="pin" name="pin" placeholder="****" />
    <button  class="irMenu" id="irMenu">IR AL MENU</button>
</div>


<!-- INTRO-->
<h2 class="intro"><b> Como funciona {{title}} ?</b></h2>

<!-- DIV CENTRAL-->
<div>
    <div id="homeContainer">
        <div class="homeCard">
            <img class="cardImg" src="../../public/images/formulario.png" alt="registro">
            <h3>Registrate!</h3>
            <p>Registrate como usuario y añade tu local</p>
        </div>
        <div class="homeCard">
            <img class="cardImg" src="../../public/images/diario.png" alt="menu">
            <h3>Introduce tu menú</h3>
            <p>Introduce tus menús y muestralos a tus clientes desde la comodidad de su móvil y de forma 100% higienica,
                sin pagina web requerida!</p>
        </div>
        <div class="homeCard">
            <img class="cardImg" src="../../public/images/telefono.png" alt="busqueda">
            <h3>Muestra tu Menú</h3>
            <p>Tus clientes podrán visualizar tu menú a traves del pin facilitado por la aplicación. Mantén tu menú siempre actualizado en pocos pasos!</p>
        </div>
    </div>
</div>
<!-- FOOTER -->
<footer>Iconos diseñados por <a href="https://www.flaticon.es/autores/freepik" title="Freepik">Freepik</a> from <a
        href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a></footer>