<img id="notFoundImg"  src="/images/error-404-not-found.jpg" alt="not-found">
<h1 class="errormsg">Error!</h1>
<h2 class="errormsg">Ups! parece que la pagina no esta disponible. Por favor, vuelva a la página de <a href="/"> Inicio</a> </h2>