<div id="form">
  <h2>Crea tu  Menu</h2>
  <form action="/menu" method="POST">
    <label for="nombreMenu">Menú</label>
    <input type="text" id="nombreMenu" name="nombreMenu" />
    <button type="submit">Agregar Elemento </button>
  </form>
</div>