<h2>EDITA TU MENU</h2>

<form action="/menu/{{menu.id}}" method="POST">
    <label for="">Nombre del menu</label>
    <input type="text"  id="nombreMenu" name="nombreMenu" value="{{menu.nombreMenu}}">   
    <button type="submit">Guardar</button>
</form> 
