{{#each restaurante}}
<h1>{{this.nombre}}</h1>
<br>
{{/each}}

{{#each menus}}
<div class="menu-page">
  <button class="menu-name" >{{this.nombre}}</button>
  <div class="hidden menu-container">
    {{#each this.elementos}}
    <br>
    {{this.nombre}} {{this.precio}} €
    {{/each}}
  </div>
</div>



<br>
{{/each}}